// @import "https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext";
@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,800;1,400;1,500;1,700&display=swap";
@import "https://fonts.googleapis.com/css?family=Bebas+Neue";
// @import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Molengo&display=swap";

@font-face {
  font-family: Alatsi;
  font-style: normal;
  font-weight: 400;
  src: local("Alatsi"), url("https://fonts.cdnfonts.com/s/46608/Alatsi-Regular.woff") format("woff");
}
