@use "../../../../../december/utils/styles" as utils;

& > .content {
  --icon-width: calc(7 * var(--s1));
  --icon-height: calc(7 * var(--s1));

  grid-area: content;
  //
  flex-grow: 1;
  padding: var(--s2);
  border: 0 solid rgb(var(--border-color), 1);
  position: relative;
  //
  display: grid;
  // grid-template-areas:
  //   "label value"
  //   "slot1 value"
  //   "slot2 slot2"
  //   "stats stats"
  //   "buttons buttons";
  grid-template-areas: 
    "icon1 main main expand"
    "icon2 secondary value value"
    "icon3 secondary value value"
    "icon4 label-value value value"
    "stats stats stats stats"
    "rolls rolls rolls rolls"
    "slot1 slot1 slot1 slot1"
    "slot2 slot2 slot2 slot2";
  grid-template-columns: var(--icon-width) 1fr auto min-content;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-rows: auto auto auto auto auto auto auto;

  & > * { z-index: 1; }

  & > .icon {
    grid-area: icon1 / icon1 / icon4 / icon4;

    border-radius: var(--s1);
    background-color: hsl(0, 0%, 95%);
    width: var(--icon-width);
    height: var(--icon-height);

    & > .wrapper {
      --icon-size: var(--s2-5);
      color: #999999;

      & > .icon {
        &.secondary {
          color: rgb(var(--main-color), 1);
        }
      }
    }
  }

  & > .label {
    //
    padding: 0;
    margin-left: var(--s1);
    //
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    //
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    //
    color: rgb(var(--label-color), 0.9);

    &.main {
      grid-area: main;
      margin-bottom: var(--s0-25);

      & > .main {
        display: flex;
        flex-direction: row;
        align-items: center;
        //
        padding-top: 1px;

        & > span {
          white-space: pre-wrap;

          & > .roll {
            font-weight: 400;
            
            & > .variable {
              font-weight: 500 !important;
            }
          }
        }

        & > .tray {
          grid-area: tray;

          & > .children {
            display: flex;
            flex-direction: row;
            align-items: center;

            & > .spacer {
              flex-grow: 1;
            }

            & > .icon-wrapper {
              margin-right: var(--s0-5);
              i {
                font-size: var(--s2);
              }
              svg.icon {
                width: calc(var(--s2));
              }

              &.hidden {
                display: none;
              }
              &.type {
                display: none;
              }
            }
          }
        }
      }
    }

    &.secondary {
      grid-area: secondary;

      & > .secondary {
        font-family: Roboto;
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        
        color: rgb(var(--label-color), 0.75);
      }
    }

    &.value {
      grid-area: label-value;
      
      font-size: 12px;
      line-height: 8px;
      font-weight: 400;
      font-family: 'Roboto';
      color: rgba(238, 238, 238, 0.5);
      //
      margin-right: 4.5px;
    }

    // VARIANTS
    &.soft {
      & > .main {
        & > span {
          font-style: italic;
          color: rgb(var(--label-color), 0.6);
        }
      }
    }
  }

  & > .expand {
    grid-area: expand;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    & > i.icon {
      line-height: var(--s1-5);
      font-size: var(--s2-5);
      width: calc(2.25 * var(--s1));
      color: #888888;
      
      &.collapse {
        display: none;
      }
    }
  }

  & > .value {
    grid-area: value;
    //
    // margin-left: var(--s1-5);
    padding-bottom: 1px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    //

    & > .feature-roll {
      & > .label {
        --color: var(--dark-main-color);
        --light-color: var(--semi-dark-main-color);
        // color: rgb(var(--darker-main-color), 1);
      }

      & > .value {
        color: rgb(var(--value-color), 0.95);
      }

      & > .asterisk { 
        color: rgb(var(--label-color), 0.75); 
      }
    }
  }

  & > .notes {
    grid-area: slot1;
    color: #999;
    //
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
    //
    flex: 0;
    margin: 0;
    margin-bottom: var(--s0-5);
  }

  @import "./tags";

  & > .stats {
    grid-area: stats;
    //
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
    //
    margin-top: var(--s1);
    margin-bottom: var(--s1);

    & > .row {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1;

      & ~ .row {
        margin-top: var(--s0-25);
      }
    }

    &, & > .row {
      & > .stat {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        //
        margin-left: var(--s1);

        & > .icon-wrapper {
          font-size: calc(var(--s1) * 1.8);
          line-height: calc(var(--s1) * 1.5);
          color: rgb(var(--darker-main-color), 1);
          //
          display: flex;
          flex-direction: row;
          align-items: center;

          & > .icon {
            display: flex;
            align-items: center;
            //
            height: calc(var(--s1) * 1.8);

            &[class*="mdi-alpha-"] + .icon[class*="mdi-alpha-"] {
              margin-left: calc(-1 * 9px);
              margin-right: calc(-0.5 * 9px);
            }
          }
        }

        & > .label {
          font-style: italic;
          font-weight: 300;
          font-size: calc(var(--s1) * 1.125);
          line-height: calc(var(--s1) * 1);
          //
          font-family: Molengo;
        }

        & > .value {
          font-size: 15px;
          font-weight: 400;
          //
          font-family: Molengo;
        }

        & > .label, & > .value {
          color: rgb(var(--very-darker-main-color), 1);
        }
        
        & > .icon-wrapper ~ .value {
          margin-left: 3px;
        }

        & > .hidden {
          display: none;
        }

        // variants
        &.disabled {
          & > .icon-wrapper, & > .value, & > .label  {
            color: #BBBBBB;
          }
        }

        &.non-interactible {
          & > .icon-wrapper  {
            color: rgb(var(--very-darker-main-color), 1);
          }

          & > .value, & > .label  {
            color: #222222;
          }
        }
        

        &.spacer {
          flex-grow: 1;
          
          & > .icon-wrapper, & > .value, & > .label  {
            display: none;
          }
        }
      }
    }
  }

  & > .rolls {
    grid-area: rolls;
    position: relative;
    //
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    //
    margin-top: var(--s1);
    margin-bottom: var(--s1);
    margin-left: calc(-2 * var(--s1));
    margin-right: calc(-2 * var(--s1));
    max-width: calc(100% + 4 * var(--s1));

    & > * {
      z-index: 2;
    }

    & > .background {
      z-index: 1;
      position: absolute;
      background: linear-gradient(272.62deg, rgba(30, 30, 30, 0.4) -0.45%, rgba(24, 24, 24, 0.4) 84.66%, rgba(30, 30, 30, 0.4) 100.42%);
      opacity: 0.075;
      width: 100%;
      height: calc(100% - 2 * 5px);
    }

    & > .previous, & > .next {
      color: #BBBBBB;
      color: transparent;
      margin-left: var(--s0-5);
      margin-right: var(--s0-5);
    }
    
    &:not(.at-first) > .previous, &:not(.at-last) > .next {
      color: rgba(var(--main-color), 1);
    }

    & > .wrapper {
      flex-grow: 1;
      display: flex;
      //
      overflow-x: scroll;
      scroll-snap-type: x proximity;
      @include utils.no-scroll;

      & > .roll {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        //
        min-width: 100%;
        scroll-snap-align: end;

        & > .content-wrapper {
          & > .content {
            text-align: right;

            & > .primary {
              color: #666666;
              font-family: 'Roboto';
              font-weight: 400;
              font-size: 14px;
              line-height: 14px;
            }

            & > .secondary, & > .tertiary {
              color: #999999;
              font-family: 'Roboto';
              font-weight: 400;
              font-size: 12px;
              line-height: 12px;
            }

            & > .hidden { display: none; }
          }
        }

        &.interactible > .feature-roll {
          background-color: rgb(var(--lighter-main-color), 1);
          border-color: rgb(var(--main-color), 1);

          & > .icon-wrapper {
            color: rgb(var(--darker-main-color), 0.95);
          }

          & > .value {
            color: rgb(var(--darker-main-color), 0.95);
          }

          & > .label {
            --color: var(--dark-main-color);
            --light-color: var(--semi-dark-main-color);
            // color: rgb(var(--dark-main-color), 1);
          }
        }
      }
    }
  }

  & > *.hidden {
    display: none;
  }
}
