@use "../../../../../december/utils/styles" as utils;

& > .content {
  --icon-height: calc(7 * var(--s1));

  grid-area: content;
  //
  flex-grow: 1;
  padding: var(--s2);
  border: 0 solid rgb(var(--border-color), 1);
  position: relative;
  //
  display: grid;
  // grid-template-areas:
  //   "label value"
  //   "slot1 value"
  //   "slot2 slot2"
  //   "stats stats"
  //   "buttons buttons";
  grid-template-areas: 
    "icon main main expand"
    "icon secondary value value"
    "icon secondary value value"
    "icon label-value value value"
    "stats stats stats stats"
    "rolls rolls rolls rolls"
    "slot1 slot1 slot1 slot1"
    "slot2 slot2 slot2 slot2";
  grid-template-columns: var(--icon-height) 1fr auto min-content;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-rows: auto auto auto auto auto auto auto;

  & > * { z-index: 1; }

  & > .icon {
    grid-area: icon;

    border-radius: var(--s1);
    background-color: hsl(0, 0%, 95%);
    width: var(--icon-height);
    height: var(--icon-height);
    margin-bottom: var(--s1);

    & > .wrapper {
      --icon-size: var(--s2-5);
      color: #999999;

      & > .icon {
        &.secondary {
          color: rgb(var(--main-color), 1);
        }
      }
    }
  }

  & > .label {
    //
    padding: 0;
    margin-left: var(--s1);
    //
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    //
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    //
    color: rgb(var(--label-color), 0.9);

    &.main {
      grid-area: main;
      margin-bottom: var(--s0-25);

      & > .main {
        display: flex;
        flex-direction: row;
        align-items: center;
        //
        padding-top: 1px;

        & > span {
          white-space: pre-wrap;

          & > .roll {
            font-weight: 400;
            
            & > .variable {
              font-weight: 500 !important;
            }
          }
        }

        & > .tray {
          grid-area: tray;

          & > .children {
            display: flex;
            flex-direction: row;
            align-items: center;

            & > .spacer {
              flex-grow: 1;
            }

            & > .icon-wrapper {
              margin-right: var(--s0-5);
              i {
                font-size: var(--s2);
              }
              svg.icon {
                width: calc(var(--s2));
              }

              &.hidden {
                display: none;
              }
              &.type {
                display: none;
              }
            }
          }
        }
      }
    }

    &.secondary {
      grid-area: secondary;

      & > .secondary {
        font-family: Roboto;
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        
        color: rgb(var(--label-color), 0.75);
      }
    }

    &.value {
      grid-area: label-value;
      
      font-size: 12px;
      line-height: 8px;
      font-weight: 400;
      font-family: 'Roboto';
      color: rgba(238, 238, 238, 0.5);
      //
      margin-right: 4.5px;
    }

    // VARIANTS
    &.soft {
      & > .main {
        & > span {
          font-style: italic;
          color: rgb(var(--label-color), 0.6);
        }
      }
    }
  }

  & > .expand {
    grid-area: expand;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    & > i.icon {
      line-height: var(--s1-5);
      font-size: var(--s2-5);
      width: calc(2.25 * var(--s1));
      color: #888888;
      
      &.collapse {
        display: none;
      }
    }
  }

  & > .value {
    grid-area: value;
    //
    font-family: Alatsi;
    font-weight: 400;
    font-size: 27px;
    line-height: 21px;
    //
    // margin-left: var(--s1-5);
    margin-bottom: var(--s1);
    padding-bottom: 1px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    //
    color: rgb(var(--value-color), 0.95);
    // border: 0 solid rgb(var(--border-color), 1);

    & > .asterisk {
      color: rgb(var(--label-color), 0.75);
      font-style: normal;
    }

    & > .display {
      & > .label {
        padding: 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 8px;
        font-family: Roboto;
        color: rgb(var(--darker-main-color), 1);
        text-transform: uppercase;

        & > i {
          font-style: italic;
          white-space: pre-wrap;
          font-size: calc(var(--s1) * 1.25);
          line-height: calc(var(--s1) * 1);
          font-weight: 300;
        }
      }

      & > .value {
        font-family: Alatsi;
        font-weight: 500;
        text-align: center;
      }

      & > .label ~ .value {
        margin-top: 2px;
      }

      & > .value ~ .label {
        margin-top: var(--s0-5);
      }
    }
  }

  & > .notes {
    grid-area: slot1;
    color: #999;
    //
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
    //
    flex: 0;
    margin: 0;
    margin-bottom: var(--s0-5);
  }

  @import "./tags";

  & > .stats {
    grid-area: stats;
    //
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    //
    margin-bottom: var(--s1);

    & > .stat {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      //
      margin-left: var(--s1);

      & > .icon {
        width: calc(var(--s1) * 1.8);
        font-size: calc(var(--s1) * 1.8);
        line-height: calc(var(--s1) * 1.5);
        //
        color: rgb(var(--darker-main-color), 1);
      }

      & > .label {
        font-style: italic;
        font-weight: 300;
        font-size: calc(var(--s1) * 1.125);
        line-height: calc(var(--s1) * 1);
        //
        font-family: Molengo;
      }

      & > .value {
        font-size: 15px;
        font-weight: 400;
        //
        font-family: Molengo;
      }

      & > .label, & > .value {
        color: rgb(var(--very-darker-main-color), 1);
      }
      
      & > .icon ~ .value {
        margin-left: 3px;
      }

      & > .hidden {
        display: none;
      }

      &.disabled {
        & > .icon, & > .value, & > .label  {
          color: #BBBBBB;
        }
      }
    }
  }

  & > .rolls {
    grid-area: rolls;
    position: relative;
    //
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    //
    margin-top: var(--s1);
    margin-bottom: var(--s1);
    margin-left: calc(-2 * var(--s1));
    margin-right: calc(-2 * var(--s1));
    max-width: calc(100% + 4 * var(--s1));

    & > * {
      z-index: 2;
    }

    & > .background {
      z-index: 1;
      position: absolute;
      background: linear-gradient(272.62deg, rgba(30, 30, 30, 0.4) -0.45%, rgba(24, 24, 24, 0.4) 84.66%, rgba(30, 30, 30, 0.4) 100.42%);
      opacity: 0.075;
      width: 100%;
      height: calc(100% - 2 * 5px);
    }

    & > .previous, & > .next {
      color: #BBBBBB;
      margin-left: var(--s0-5);
      margin-right: var(--s0-5);
    }
    
    &:not(.at-first) > .previous, &:not(.at-last) > .next {
      color: rgba(var(--main-color), 1);
    }

    & > .wrapper {
      flex-grow: 1;
      display: flex;
      //
      overflow-x: scroll;
      scroll-snap-type: x proximity;
      @include utils.no-scroll;

      & > .roll {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        //
        min-width: 100%;
        scroll-snap-align: end;

        & > .content-wrapper {
          & > .content {
            text-align: right;

            & > .primary {
              color: #666666;
              font-family: 'Roboto';
              font-weight: 400;
              font-size: 14px;
              line-height: 14px;
            }

            & > .secondary, & > .tertiary {
              color: #999999;
              font-family: 'Roboto';
              font-weight: 400;
              font-size: 12px;
              line-height: 12px;
            }
          }
        }

        & > .button {
          border-radius: 3px;
          padding: calc(2 * var(--s1));
          margin-left: var(--s1-5);
          //
          border: 1px solid rgb(var(--border-color), 1);
          background-color: rgb(var(--lighter-main-color), 1);
          border-color: rgb(var(--main-color), 1);

          & > .value {
            font-family: Alatsi;
            font-weight: 500;
            font-size: 27px;
            line-height: 21px;
            //
            color: rgb(var(--darker-main-color), 0.95);
          }

          & > .label {
            padding: 0;
            font-size: 12px;
            font-weight: 400;
            line-height: 8px;
            font-family: Roboto;
            text-transform: uppercase;
            //
            color: rgb(var(--dark-main-color), 1);
    
            & > i {
              font-style: italic;
              white-space: pre-wrap;
              font-size: calc(var(--s1) * 1.25);
              line-height: calc(var(--s1) * 1);
              font-weight: 300;
            }
          }

          & > .value ~ .label {
            margin-top: var(--s0-5);
          }
        }
      }
    }
  }

  & > .stats1 {
    grid-area: stats;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    //
    margin-top: calc(var(--spacing) * 0.6666);
    margin-left: -4.5px;
    margin-right: -4.5px;

    & > .stat {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      //
      background-color: #f7f7f7;
      border-radius: 4.5px;
      margin: 4.5px;
      padding: 9px;

      & > .label {
        font-family: Roboto;
        font-style: italic;
        font-size: 11px;
        line-height: 9px;
        //
        padding: 0;
        margin-bottom: 4.5px;
        color: #777;
      }

      & > .value {
        flex-grow: 1;
        display: flex;
        align-items: center;
        //
        font-family: Roboto;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        //
        color: #444;
      }
    }
  }

  & > .buttons1 {
    grid-area: buttons;
    //
    margin: 0 calc(-1 * var(--s0-5));
    margin-top: var(--s1-5);
    //
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    //
    font-family: Roboto;

    & > .button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      //
      flex-grow: 1;
      padding: var(--s1);
      margin: 0 var(--s0-5);
      //
      background-color: rgb(var(--lighter-highlight-color), 1);
      border: 0.5px solid rgb(var(--highlight-color), 1);
      border-radius: var(--border-radius-size);

      // #region PLACEMENT

      &:first-of-type {
        border-top-left-radius: var(--border-radius-size);
        border-bottom-left-radius: var(--border-radius-size);
      }

      &:last-of-type {
        border-top-right-radius: var(--border-radius-size);
        border-bottom-right-radius: var(--border-radius-size);
      }

      // #endregion

      // #region CHILDREN

      & > .label {
        font-style: italic;
        font-weight: 300;
        font-size: calc(var(--s1) * 1.125);
        line-height: calc(var(--s1) * 1);
        //
        color: rgb(var(--dark-main-color), 1);
      }

      & > .icon {
        width: calc(var(--s1) * 2.5);
        font-size: calc(var(--s1) * 2.5);
        line-height: calc(var(--s1) * 2);
        //
        color: rgb(var(--dark-main-color), 1);
      }

      &.small > .icon {
        width: calc(var(--s1) * 2);
        font-size: calc(var(--s1) * 2);
        line-height: calc(var(--s1) * 1.75);
      }

      & > .value {
        font-size: 16px;
        font-weight: 500;
        //
        letter-spacing: -1px;
        font-family: Alatsi;
        color: rgb(var(--darker-main-color), 1); //
      }

      & > .icon ~ .value {
        margin-top: var(--s0-25);
      }

      // #endregion

      // #region VARIANTS

      &.disabled {
        background-color: rgb(119 119 119 / 7.5%);
        border-width: 0;
        border-color: rgb(68 68 68 / 50%);

        & > .label,
        & > .icon {
          color: rgb(68 68 68 / 50%);
        }
        & > .value {
          color: rgb(68 68 68 / 75%);
        }
      }

      // #endregion
    }
  }

  & > *.hidden {
    display: none;
  }

  & .roll {
    white-space: nowrap;
    //
    display: flex;
    justify-content: center;
    align-items: center;

    & > .variable:not([data-type="me"]) {
      font-style: normal;
      // font-weight: bold;
    }

    & > .operator {
      // margin: 0 var(--s0-25);
    }
  }
}
