
.feature-roll {
  white-space: nowrap;
  //
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "icon value"
    "icon label";

  & > .icon-wrapper {
    --font-size: calc(var(--s1) * 1.8);
    grid-area: icon;
    //
    font-size: calc(var(--font-size) * 1);
    line-height: calc(var(--font-size) * 0.8);
    color: #303030;
    //
    display: flex;
    flex-direction: row;
    align-items: center;

    & > .icon {
      display: flex;
      align-items: center;
      //
      height: calc(var(--font-size) * 1);
    }
  }

  & > .value {
    --font-size: 27px;
    grid-area: value;
    //
    color: #303030;
    font-family: Alatsi;
    font-weight: 500;
    font-size: calc(var(--font-size) * 1);
    line-height: calc(var(--font-size) * 0.8);
    //
    text-align: center;
  }

  & > .label {
    --font-size: 12px;
    grid-area: label;
    //
    padding: 0;
    color: #585858;
    font-family: Roboto;
    font-weight: 400;
    font-size: calc(var(--font-size) * 1);
    line-height: calc(var(--font-size) * 0.9);
    max-width: calc(var(--font-size) * 8);
    //
    margin-bottom: calc(var(--font-size) * -0.1);
    display: flex;
    justify-content: center;
    text-align: center;

    & > span {
      white-space: normal;
    }
    
    & > i {
      font-style: italic;
      white-space: pre-wrap;
      font-weight: 300;
      font-size: calc(var(--font-size) * 1);
      line-height: calc(var(--font-size) * 0.8);
    }

    & > .variable:not([data-type="me"]) {
      font-style: normal;
      font-weight: bold;
    }

    & > .operator {
      margin: 0 var(--s0-25);
    }
  }
  
  & > .asterisk {
    --font-size: 27px;
    //
    font-family: Alatsi;
    font-weight: 400;
    color: #585858;
    font-style: normal;
  }
  
  & > .label ~ .value {
    margin-top: 2px;
  }

  & > .value ~ .label {
    margin-top: var(--s0-25);
  }

  & > .hidden { display: none; }
}

// VARIANT WRAPPERS
.roll-wrapper {
  // compact
  &.compact {
    & > .feature-roll {
      & > .label {
        display: inline-flex;

        & > .variable:not([data-type="me"]) {
          font-weight: 400;
        }

        & > .operator {
          margin: 0 0;
        }
      }
    }
  }

  &.interactible {
    & > .feature-roll {
      border-radius: 3px;
      padding: calc(1.5 * var(--s1));
      margin-left: var(--s1-5);
      //
      border: 1px solid rgb(255, 0, 0, 1);
      background-color: rgb(255, 183, 183);

      & > .label {
        & > .variable:not([data-type="me"]) {
          font-weight: 400;
        }

        & > .operator {
          margin: 0 0;
        }
      }
    }
  }
}