/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable no-duplicate-selectors */

.feature {
  // #region DEFAULT

  & > .children > .feature-data > .children {
    & > .feature-variant {
      // interactible sections

      // #region ICON

      // without icon
      &:not(.has-icon), &.no-icon {
        & > .wrapper > .content {
          & > .label {
            margin-left: 0px;
            
            &.main {
              grid-area: icon / icon / main / main;
            }
            
            &.secondary {
              grid-area: icon / icon / secondary / secondary;
            }

            &.label {
              grid-area: icon / icon / label-value / label-value;
            }
          }

          & > .icon {
            display: none;
          }
        }
      }

      // #endregion

      // #region VALUE

      // without value
      &:not(.has-value) {
        & > .wrapper > .content {
          & > .value {
            display: none;
          }

          & > .stats {      
            margin-top: 0;
          }
        }
      }

      // #endregion

      // #region TAGS

      // inline tags
      &.inline-tags {
        & > .wrapper > .content > .tags {
          display: flex;
          flex-direction: row;
          margin: calc(-1 * var(--s0-25)) calc(-1 * var(--s0-5));
          margin-top: calc(var(--spacing) * 0.6666);
        }
      }

      &:not(.has-tags) {
        & > .wrapper {
          & > .content {
            & > .label {
              padding: 0;
              // grid-area: label / label / slot1 / slot1;
              justify-content: center;
            }

            & > .tags {
              display: none;
            }
          }
        }
      }
      
      // TAGS 
      &:not(.has-stats):not(.has-notes) {
        & > .wrapper > .content {
          & > .tags {
            margin-top: var(--s0-5);
          }
        }
      }

      // #endregion

      // #region NOTES

      // without notes
      &:not(.has-notes) {
        & > .wrapper > .content {
          & > .tags {
            // grid-area: slot1;
          }
        }

        // without notes AND tags
        &:not(.has-tags) {
          & > .wrapper > .content {
            // grid-template-areas:
            //   "label value"
            //   "label value"
            //   "slot2 slot2"
            //   "stats stats"
            //   "buttons buttons";

            & > .label {
              justify-content: center;
              padding-bottom: 0;
            }

            & > .value {
              margin-bottom: 0;
            }
          }
        }
      }

      // #endregion

      // #region MARK (external rectangular indicator with variable string content)

      &.marked {
        grid-template-areas: "prev wrapper mark next";
        grid-template-columns: auto 1fr auto auto;

        & > .mark {
          display: flex;
        }

        // variants
        &.top-marked {
          & > .mark {
            margin-bottom: 0;

            & > div {
              writing-mode: horizontal-tb;
              text-orientation: mixed;
            }
          }

          // TODO: wtf? a variant inside another variant?
          & .feature-variant > .wrapper {
            grid-template-columns: auto 1fr auto;
            grid-template-rows: auto;
            grid-template-areas:
              "mark mark mark"
              "prev wrapper next";
          }
        }
      }

      // #endregion

      // #region BACKICON

      // without backicon
      &:not(.backicon) {
        & > .wrapper > .background-icon {
          display: none;
        }
      }

      // #endregion
    }
  }

  // #endregion

  // #region HIDDEN
  &.hidden {
    filter: none;
    flex-shrink: 1;

    & > .children {
      & > .feature-data {
        flex: none !important;
        display: none;
        &:first-of-type {
          display: flex;
        }
        &:not(:first-of-type) {
          display: none;
        }

        & > .children {
          min-width: auto;
          // padding: var(--s0-5);

          & > .feature-variant {
            & > .mark {
              display: none;
            }

            & > .wrapper {
              margin-left: 0;
              background-color: rgb(var(--background-color), 0.5);

              & > .content {
                display: flex;
                padding: var(--s1-25);

                & > .label {
                  padding: 0;
                  font-size: 12px;
                  line-height: 10px;
                  margin-bottom: 0;
                  margin-left: 0px;

                  & > .main > .tray > .children > .icon-wrapper {
                    & > i {
                      font-size: calc(var(--s1) * 1.25);
                    }
                    & > svg.icon {
                      width: calc(var(--s1) * 1.25);
                    }
                    &:not(.pin) {
                      display: none;
                    }
                  }

                  & > .secondary {
                    display: none;
                  }
                }

                & > .value {
                  display: none;
                }

                & > .icon,
                & > .expand,
                & > .notes,
                & > .tags,
                & > .stats,
                & > .rolls {
                  display: none;
                }
              }

              & > .background-icon {
                display: none;
              }
            }
          }
        }

        & > .action {
          display: none !important;
        }
      }
    }
  }

  // #endregion

  // #region MARKED

  // HIDDEN + MARKED
  &.hidden {
    & > .children {
      & > .feature-data {
        & > .children {
          & > .feature-variant.marked {
            & > .wrapper {
              border-color: rgb(var(--highlight-color), 1);
              background-color: rgb(var(--lighter-highlight-color), 1);

              & > .content {
                color: rgb(var(--highlight-color), 0.85);
              }
            }
          }
        }
      }
    }
  }

  // #endregion

  // #region PINNED

  & > .children > .feature-data > .children > .feature-variant {
    & > .wrapper > .content > .label > .main > .tray {
      & > .children > .icon-wrapper.pin {
        display: none;
      }
    }
  }

  &.pinned {
    & > .children > .feature-data:first-of-type > .children > .feature-variant:first-of-type {
      & > .wrapper > .content > .label > .main > .tray {
        & > .children > .icon-wrapper.pin {
          display: block;
        }
      }
    }
  }

  // #endregion

  // #region VALUE

  &.attachments {
    & > .feature:not(.has-value) {
      &:last-of-type {
        & .wrapper {
          & > .content {
          }
        }
      }
    }
  }

  // #endregion

  // #region EXPANDED

  & {
    & > .children > .feature-data {
      &:not(.expanded) {
        & > .children > .feature-variant {
          & { // &:first-of-type {
            & > .wrapper {
              & > .content {
                & > .roller,
                & > .stats,
                & > .tags,
                & > .notes {
                  display: none;
                }

                & > .icon, & > .value {
                  margin-bottom: 0px;
                }
                
                & > .expand {
                  & > i.icon {
                  }
                }
              }
            }
          }
        }
      }
      
      &.expanded {
        & > .children > .feature-variant {
          & {
            & > .wrapper {
              & > .content {                
                & > .expand {
                  & > i.icon {
                    &.collapse {
                      display: flex;
                    }
                                   
                    &.expand {
                      display: none;
                    }
                  }
                }
              }
            }

          }
        }
      }

      & {
        & > .children > .feature-variant {
          &:not(.has-tags):not(.has-stats):not(.has-rolls) {
            & > .wrapper > .content {
              & > .expand {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  &.collapsed:not(.hidden) {
    & > .children > .feature-data {
      &:first-of-type {
        & > .children > .feature-variant {
          &:first-of-type {
            & > .wrapper {
              & > .content {
                & > .label {
                  & > .main > .collapsed-wrapper {
                    display: block;
                  }
                }

                & > .notes {
                  display: none;
                }

                & > .value {
                  margin-bottom: 0;
                }

                & > .tags {
                  // grid-area: stats;
                  & > .children > .tag:not(.collapsed, .collapsed-only) {
                    display: none;
                  }
                }

                & > .stats {
                  display: none;
                }
              }
            }
          }
        }
      }
      &:not(:first-of-type) {
        display: none;
      }
    }
  }

  &:not(.collapsed) {
    & > .children > .feature-data > .children > .feature-variant {
      & > .wrapper > .content > .label > .main > .tray {
        & > .children > .icon-wrapper.collapse {
          display: none;
        }
      }

      &.hide-value-expanded {
        & > .wrapper > .content {
          & > .value {
            display: none;
          }
        }
      }
    }
  }

  &:not(.collapsed) {
    & > .children > .feature-data {
      & > .children > .feature-variant {
        & > .wrapper {
          & > .content {
            & > .tags {
              & > .children > .tag.collapsed-only {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  // #endregion

  // #region ROLLER

  &:not(.hidden) {
    & > .children > .feature-data.roller {
      & { //}:first-of-type {
        & > .children > .feature-variant {
          &.has-rolls { //:first-of-type {
            & > .wrapper {
              & > .content {
                & > .rolls {
                  display: flex;
                }

                // VALUE
                & > .label.value.roll-selected {
                  color: #777777;
                }

                & > .value.roll-selected {
                  & > .feature-roll {
                    & > .label {
                      color: rgba(var(--darker-main-color), 1);
                    }

                    & > .value {
                      color: rgba(var(--semi-dark-main-color), 1);
                    }
                  }
                }

                // STATS
                & > .stats {
                  margin-bottom: 0px;

                  &, & > .row {
                    & > .stat.roll-selected {
                      & > .icon-wrapper {
                        color: rgba(var(--darker-main-color), 1);
                      }
                      
                      & > .label, & > .value {
                        color: rgba(var(--semi-dark-main-color), 1);
                      }
                    }
                  }
                }
              }
            }
            
            // TAGS 
            &:not(.has-stats):not(.has-notes) {
              & > .wrapper > .content {
                & > .tags {
                  margin-top: calc(var(--s0-5) * -1);
                }
              }
            }
          }
        }
      }
      
      &:not(.expanded) { //}:first-of-type {
        & > .children > .feature-variant {
          & {
            & > .wrapper {
              & > .content {
                & > .rolls {
                  // margin-top: var(--s1-5);
                  margin-bottom: 0px;
                  
                  & > .previous, & > .next {
                    color: transparent;
                  }

                  & > .wrapper {
                    & > .roll:not([data-step="0"]) {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // #endregion
}
